@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@theme{
    --color-siderbar-bg-theme-1:#bacbbaee;
    --color-mainWindow-bg-theme-1:#716b6b;
}




.kanban-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.kanban-scrollbar::-webkit-scrollbar-track {
  background: #181717;
}

.kanban-scrollbar::-webkit-scrollbar-thumb {
  background: #4a4848;
  border-radius: 9999px;
}

.kanban-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #626060;
}

.kanban-scrollbar {
  scrollbar-width:thin;
  scrollbar-color: #4a4848 #181717;


}

/* ------------- */

.kanban-scrollbar-col::-webkit-scrollbar {
  width: 2px;
}

.kanban-scrollbar-col::-webkit-scrollbar-track {
  background: #181717;
}

.kanban-scrollbar-col::-webkit-scrollbar-thumb {
  background: #4a4848;
  border-radius: 9999px;
}

.kanban-scrollbar-col::-webkit-scrollbar-thumb:hover {
  background: #626060;
}

.kanban-scrollbar-col {
  scrollbar-width:thin;
  scrollbar-color: #2d2d2d #191919;
  /* scrollbar-gutter: stable; */
}



